[core]
    editor = vim
	excludesfile = ~/.gitignore
    pager = cat

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[status]
    showUntrackedFiles = all

[push]
    default = simple

[alias]


    # View the current working tree status using the short format
    s = status -s
    tagged = tag --list --points-at HEAD

    # show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a -v
    remotes = remote -v

    p = pull

    # rebase
    r = "!f() { git rebase -i HEAD~${1:-1}; }; f"

    # committing
    c = commit
    cnm = commit -m 'no message'

    # status
    st = status

[user]
	name = Anton Efimov
	email = a.ephimoff@gmail.com
[credential]
	helper = osxkeychain
[column]
	ui = auto
[branch]
	sort = -committerdate
